<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a id="brandName" class="navbar-brand" href="/">Blog On Rails</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
        <% if user_signed_in? %>
          <span>Hello, <%= link_to "#{current_user.first_name}", edit_user_path(current_user) %>!</span>
          
          <%= link_to "Log Out", session_path, method: :delete, class:"btn btn-outline-danger" %>
        <% else %>
          <span class="nav-item d-flex">
            <%= link_to "Log In", new_session_path, class:"nav-link" %>
            <%= link_to "Sign Up", new_user_path, class:"nav-link" %>
          </span>
        <% end %>
        
        <span class="nav-item d-flex">
          <a class="nav-link" href="/">Home</a>
        </span>
        
        <span class="nav-item d-flex">
          <%= link_to 'New Post', new_post_path, class:"nav-link"  %>
        </span>
      </ul>
      
    </div>
  </div>
</nav>

<% if flash[:notice].present? %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:notice]  %> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<% elsif flash[:alert].present? %> 
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%=  flash[:alert] %> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<% end %>

    <%= yield %>
  </body>
</html>
